
@tailwind base;
@tailwind components;
@tailwind utilities;




.background{
  background-image: url(./assets/dottedBg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.other{
  animation: fadeIn 3s;

}
.logo{
  animation: fadeIn 3s;

}
.or{
  display: flex;
  flex-direction: row;
}
.or:before, .or:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #000000;
  margin: auto;
}
.or:before {
  margin-right: 10px
}
.or:after {
  margin-left: 10px
}


button{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/* --------Animations------- */

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}